/* css styles */
.calendar {
  flex-direction: row;
  display: flex;
  flex-wrap: wrap;
  flex-basis: 50px;
  gap: 16px;
  align-items: center;
  text-shadow: 2px 2px 5px #99ff99;
}
.day {
  flex-grow: 1;
  min-width: 50px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}
.active {
  flex-grow: 2;
  min-width: 50px;
  padding: 2px;
  text-align: center;
  vertical-align: middle;
}

a{
  text-decoration: none;
  color: #33cc33;
}
